.PickContainer{
    padding-bottom:30px;
    display: grid;
    grid-template-columns: auto 300px 40px 300px auto;
    grid-template-rows: 200px;
    grid-template-areas:
      '. imgs . side .';
    font-size: 30px;
}

.PickImages{
    grid-area: imgs;
    display: grid;
    grid-template-columns: 10px 100px 80px 100px 10px;
    grid-template-rows: 30px, 40px, 30px;
    grid-template-areas:
      '. img1 . img2 .'
      '. img1 vs img2 .'
      '. img1 . img2 .';
    font-size: 30px;
}

.PickSideOption{
    grid-area: side;
}

.PickVS{
    grid-area: vs;
    text-align: center;
}

.PickImage1, .PickImage2{
    width:100px;
    height:100px;
    padding-top: 50px;
}

.PickImage1{
    grid-area: img1;
}

.PickImage2{
    grid-area: img2;
}