.ProfilePage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #222629;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'picture about about radar'
    'status about about radar'
    'social social acs acs ';
}

.ProfileAbout {
  border-style: solid;
  border-color: #61892f;
  border-width: 4px;
  grid-area: about;
}
.ProfileStatus {
  border-style: solid;
  border-color: #61892f;
  border-width: 4px;
  grid-area: status;
}

.ProfileACS {
  border-style: solid;
  border-color: #86c232;
  border-width: 4px;
  grid-area: acs;
}
.ProfilePicture {
  border-style: solid;
  border-color: #86c232;
  border-width: 4px;
  grid-area: picture;
}

.ProfileRadar {
  border-style: solid;
  border-color: #86c232;
  border-width: 4px;
  grid-area: radar;
}
.ProfileSocial {
  border-style: solid;
  border-color: #86c232;
  border-width: 4px;
  grid-area: social;
}
