.ProfilePictureDisplay {
  border-radius: 50%;
  height: 80%;
  width: 80%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.ProfilePictureEdit {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ProfilePictureSave,
.ProfilePictureCancel {
  width: fit-content;
  display: inline-block;
}

.ProfilePictureButtonContainer {
  text-align: center;
}

.ProfilePictureSubmitBox {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
